<h1>Answer</h1>

<div class="question container">
  <h4><%= @question %></h4>
  <p>- You</p>
</div>

<div class="answer container">
  <h4><%= @answer %></h4>
  <p>- Coach</p>
</div>

<p class="btn btn-primary" id="button" ><%= link_to 'Ask again', ask_path %></p>

<footer>
  <p>Find me in app/views/questions/answer.html.erb</p>
</footer>

