<h1>Stupid Coach</h1>
<h2>Ask a Question</h2>
<div class="form">
  <form action="/answer">

    <div class="form-group container d-flex">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary" id="button-ask">
    </div>

  </form>
</div>


<footer>
  <p>Find me in app/views/questions/ask.html.erb</p>
</footer>

