// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li#recipe-list {
    margin: 10px 0;
    text-decoration: none;
    list-style-type: none;
  }
.recipe-box {
  width: 50em;
}
