<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544145945-4bc48338f592?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);">
  <div class="container">
    <h1>Cocktails' Lounge</h1>
    <p>
    <span id="banner-typed-text">Bringing <strong>the best drinks</strong> to <strong>thirsty people</strong>!</span>
    </p>
   <!--  <p>See the world with "beer goggles'" eyes.</p> -->
    <%= link_to 'Add a cocktail', new_cocktail_path, class: 'btn btn-flat' %>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>

