// Specific CSS for your home-page


.logo {
  margin-left: 200px;
  margin-top: 50px;
  padding: 0 15px;
  width: 200px;

}

.container-bkgimg {
  width: 600px;
  height: 140px;
  margin-left: 200px;
  margin-top: 200px;
}
