// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");


h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
input.form-control {
  max-width: 600px;
}
.form-group {
  justify-content: center;
}
.container {
  max-width: 400px;
}
.question {
  background: rgba(142,229,143,0.5);
  border-left: 2px solid black;
  max-width: 400px;
}

.answer {
  background: rgba(255,192,203,0.5);
  border-left: 2px solid black;
  max-width: 400px;
}
.question.container{
  max-width: 400px;
}
.answer.container{
  max-width: 400px;
}
#button {
  color: white;
  text-align: center;
  position: absolute;
  left: 45%;
  right: 45%;
}
#button-ask {
  color: white;
  text-align: center;
}

p > a {
  color: white;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.btn {

}
