  .Button_Quiet {
    width: 52px;
    height: 14px;
    overflow: visible;

  }
  #btn-home {

    left: 0px;
    top: 0px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    padding: 16px;
    // color: #2499ff;
  }

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
